@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-destaque: #f5edf0; /* Cor suave de destaque */
    --cor-gradiente-preto: linear-gradient(113deg, #000 0%, #1E2021 44.96%, #1E2022 100%);
    --cor-fundo: #111; /* Cor de fundo escura */
    --cor-botao: #f5edf0; /* Cor do botão */
    --cor-botao-hover: #e1d1d6; /* Cor do botão ao passar o mouse */
    --cor-texto: #f5edf0; /* Cor do texto */
    --cor-placeholder: #828282; /* Cor do placeholder */
    --sombra-botao: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra suave no botão */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para facilitar o controle de padding e margin */
    font-family: 'Montserrat', sans-serif; /* Fonte clean e moderna */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 21px;
    background: var(--cor-gradiente-preto);
    height: 100vh;
    flex-direction: column;
    color: var(--cor-texto);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 80rem;
    width: 100%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7); /* Sombra externa */
}

h1 {
    color: var(--cor-destaque);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 2px; /* Espaçamento entre letras */
}

#entrada-de-texto {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.4rem 2.5rem;
    width: 100%;
    height: 12rem;
    border-radius: 0.75rem;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    color: #333;
    resize: none; /* Desabilita o redimensionamento da área de texto */
}

#entrada-de-texto::placeholder {
    color: var(--cor-placeholder);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

#botao-palavrachave {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2.5rem;
    border-radius: 0.75rem;
    border: none;
    background: var(--cor-botao);
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    box-shadow: var(--sombra-botao);
}

#botao-palavrachave:hover {
    background-color: var(--cor-botao-hover);
    transform: scale(1.05);
}

#resultado-palavrachave {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    color: var(--cor-destaque);
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem;
    max-width: 100%;
    max-height: 50vh;
    overflow: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#resultado-palavrachave::-webkit-scrollbar {
    width: 8px;
}

#resultado-palavrachave::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
}

#resultado-palavrachave::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}
